.outer {
  color: #fff;
  line-height: .24rem;
}
.banner {
  background-color: #103674;
  padding: 1.1rem 0 .2rem;
}
.banner-box {
  display: flex;
  .empty {
    flex: 1;
  }
  .banner-title {
    flex: 5;
  }
  .banner-img-box {
    flex: 7;
  }
}
.title {
  margin: 0 auto;
  width: 4rem;
  padding: 60px 0;
}
.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: #103674;
}

.banner-title-txt {
  margin: 40px 0;
}
.banner-icon-list {
  width: 80%;
}

