.outer {
  color: #fff;
  // line-height: .3rem;
}
.banner {
  position: relative;
  .banner-box {
    img {
      display: block;
    }
  }
  .content {
    position: absolute;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-50%);
    .content-title {
      width: 60%;
    }
  }
}
.plant-content {
  background-color: #014da1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  padding: 0 10px;
  .content-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      padding-bottom: 10px;

    }
  }
  .pos-text-sub {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .text-main {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-start;
    flex-wrap: nowrap;
    min-width: 120px;
    padding-right: 20px;
  }
}
.eg {
  background-color: #005bac;
  padding-bottom: 80px;
  .eg-title,.content {
    padding: 60px 0;
  }
}
.eg2 {
  .case-4 {
    transform: translateY(-80px);
  }
}
.title {
  margin: 0 auto;
  padding: 1.5rem 0 1.1rem;
}
.banner-img-box {
  width: 55%;
  /* height: 4.33rem; */
}
.banner-title {
  width: 40%;
}
.banner-title > img{
  width: 4.62rem;
  height: 2.04rem;
}
.banner-title-txt {
  margin: .4rem 0;
}
.banner-title-txt-main {
  border-bottom: 1px solid #fff;
  padding: .1rem 0;
  font-weight: bold;
}
.banner-title-txt-sub {
  color: #00F0F6;
  padding: .1rem 0;
}
.banner-title-txt-detail {
  padding: .1rem 0;
  // font-size: .12rem;
  // line-height: .24rem;
}
.elec-area .title {
  width: 6.34rem;
}
.grid-icon-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.grid-item {
  width: 2.85rem;
  /* width: 3.4rem; */
  margin-bottom: .2rem;
}

