img {
  width: 100%;
}
.outer {
  color: #fff;
}
.title {
  width: 200px;
  margin: 0 auto;
}
.banner {
  background-color: #103674;
  padding: 1.1rem 0 .2rem;
}
.banner-box {
  display: flex;
  .empty {
    flex: 1;
  }
  .banner-title {
    flex: 5;
  }
  .banner-img-box {
    flex: 7;
  }
}
.grid-area {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}
.grid-area {
  .img-box {
    width: 30%;
  }
  .content-box {
    width: 20%;
    background-color: #036eb6;
    display: flex;
    justify-content: center;
    align-items: center;
    .item-line {
      padding: 0 15px;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      width: auto;
      padding-bottom: 20px;
    }
    .item {
      padding: 10px 0;
    }
  }
  .double {
    width: 80%;
  }
}
.flow-content {
  img {
    width: 40%;
    margin: 0 auto;
  }
  .width-per {
    width: 60%;
  }
  .flow-line {
    display: flex;
    color: #000;
    align-items: center;
    padding: 20px 0;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .no-bottom {
    border-bottom: none;
  }
  .line-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .line-content {
    line-height: 22px;
  }
  .left,.right {
    flex: 1;
  }
  .left {
    padding-left: 30px;
    border-left: 4px solid #044aa6;
  }
}
