img {
  width: 100%;
}
.outer {
  color: #fff;
  font-size: .16rem;
}
/* 公共样式 */
/* .title {
  padding: .6rem 0;
  font-size: .48rem;
  font-weight: bold;
  color: #004CA0;
  text-align: center;
} */
.title {
  margin: 0 auto;
  padding: 1.5rem 0 1.1rem;
}
.grid-area .title {
  width: 6.38rem;
  margin-top: .5rem;
}
.traf-area .title {
  width: 4.16rem;
}
.car-area .title {
  width: 5.21rem;
}
.display-area .title {
  width: 5.77rem;
}
.roadAside-area .title {
  width: 4.63rem;
}
.grid-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.grid-content-item {
  width: 5.97rem;
  height: 2.8rem;
  overflow: hidden;
  margin-bottom: .06rem;
  position: relative;
}
.grid-content-item .grid-icon {
  margin-bottom: .2rem;
}
.grid-content-item .grid-icon,
.grid-content-item .grid-text {
  position: relative;
  z-index: 2;
}
.grid-content-item-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
}
.grid-content-dot {
  color: #004CA0;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: 3;
}
.display-box {
  padding: 0 .3rem;
}
.display-box-row {
  flex-wrap: wrap;
}
.display-box-row-item {
  width: 33%;
}
.display-box-row-top {
  height: 3.5rem;
  background-color: #ccc;
}
.display-box-row-bottom {
  text-align: center;
  padding: .4rem 0 .6rem;
  color: #004CA0;
  font-size: .24rem;
}
.display-box-row-item-img1 {
  width: 3.71rem;
  height: 2.09rem;
}
.display-box-row-item-img2 {
  width: 1.11rem;
  height: 2.21rem;
}
.display-box-row-item-img3 {
  width: 2.4rem;
  height: 2.4rem;
}
.pos-text-img {
  width: 3.45rem;
  margin-top: .3rem;
}

