.outer {
  color: #fff;
  font-size: .14rem;
  line-height: .24rem;
}
.title {
  width: 2rem;
  margin: 70px auto;
}
.banner {
  background-color: #103674;
  padding: 1.1rem 0 .2rem;
}
.banner-box {
  display: flex;
  .empty {
    flex: 1;
  }
  .banner-title {
    flex: 5;
    .main-title {
      margin-top: 40px;
    }
  }
  .banner-img-box {
    flex: 7;
  }
  .pragrap {
    margin-bottom: 20px;
  }
}
.work-area {
  position: relative;
  .title {
    padding: 10px 0;
    margin-top: 60px;
  }
  .show-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
  .text-descrip {
    text-align: center;
    color: #000;
    padding-bottom: 30px;
    p {
      padding: 10px;
    }
  }
}
.plic-content {
  border-left: 1px solid #103674;
  .time-line {
    padding: 20px 0 30px 30px;
    color: #000;
  }
  .time-title {
    font-size: .18rem;
    font-weight: bold;
    padding: 5px 0;
    position: relative;
    &.dot::after {
      position: absolute;
      left: -39px;
      top: 50%;
      content: '';
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
      border-radius: 50%;
      // background-color: red;
      background-image: radial-gradient(circle, #103674, #103674 50%, #00ccfd 50%, #00ccfd);
    }
  }
  .time-content {
    line-height: .24rem;
  }
}
