.outer {
  line-height: .24rem;
}
.title {
  margin: 0 auto;
  width: 4rem;
  padding: 60px 0;
}
.banner {
  position: relative;
  .banner-box {
    img {
      display: block;
    }
  }
  .content {
    position: absolute;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-50%);
    .content-title {
      width: 4rem
    }
  }
}
.content-box-line {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dashed #000;
  // align-items: flex-start;
  padding: 40px 0;
  .content-item {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
  }
  .gap {
    flex: 1;
  }
  .main-title {
    color: #fff;
    height: .3rem;
    border-radius: .15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: .8rem;
    background-color: #014da1;
  }
  .sub-title {
    padding: 10px 0;
  }
  .item-img {
    width: 100%;
    padding: 30px 20px;
  }
  .img-icon {
    padding: 20px 0;
  }
}



